@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');


body {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}

h1 {
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #B5D9BF;
}

p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

img {
    width: 60%;
    align: center;
}

nav {
    color: #FFFCAB;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>; 
    font-style: normal;
    background-color: #385936;
    text-align: center;
}

footer {
    background-color: #385936;
    text-align: center;
}

.contactdiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
  }



